---
# yaml-language-server: $schema=https://json.schemastore.org/kubernetes
apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
data:
  mosquitto.conf: |

    persistence true
    persistence_location /mosquitto/data/
    log_dest stdout

    # MQTT listener
    listener 1883

    # MQTTS listener
    # listener 8883
    # protocol mqtt

    # cafile /etc/ssl/certs/ca-certificates.crt
    # keyfile /mosquitto/certs/tls.key
    # certfile /mosquitto/certs/tls.crt

    # WS Listener
    # listener 9001
    # protocol websockets

    ## Authentication ##
    allow_anonymous true
    # password_file /mosquitto/config/password.txt
