---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
      version: "4.6.2"
  interval: 1h0m0s
  values:
    controllers:
      home-assistant:
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: "2026.1.2"
            env:
              TZ: Europe/Amsterdam
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              limits:
                memory: 2Gi
              requests:
                cpu: 100m
                memory: 512Mi

    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: network/multus-macvlan2, network/multus-macvlan3
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - talos-1018-2
                      - talos-1018-3

    service:
      app:
        controller: home-assistant
        ipFamilyPolicy: PreferDualStack
        ports:
          http:
            port: 8123

    ingress:
      app:
        enabled: true
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
        hosts:
          - host: hass.${CLUSTER_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
          - host: hass.${DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: home-assistant-tls
            hosts:
              - hass.${CLUSTER_DOMAIN}
              - hass.${DOMAIN}

    persistence:
      config:
        enabled: true
        existingClaim: home-assistant-config
        globalMounts:
          - path: /config
