---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matter-server
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
      version: 4.6.2
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      matter-server:
        type: statefulset
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        initContainers:
          fix-permissions:
            image:
              repository: busybox
              tag: latest
            command:
              - sh
              - -c
              - chown -R 1000:1000 /data
            securityContext:
              runAsUser: 0
        containers:
          app:
            image:
              repository: ghcr.io/matter-js/matterjs-server
              tag: 0.3.8
            env:
              TZ: ${TIMEZONE}
              MATTER_SERVER__INSTANCE_NAME: "{{ .Release.Name }}"
              DISABLE_DASHBOARD: false
            securityContext:
              allowPrivilegeEscalation: false
              runAsNonRoot: true
              capabilities:
                drop:
                  - ALL
              seccompProfile:
                type: RuntimeDefault
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: network/multus-macvlan2, network/multus-macvlan3
    service:
      app:
        controller: matter-server
        ports:
          websocket:
            enabled: true
            port: 5580
    persistence:
      config:
        enabled: true
        existingClaim: matter-server-data
        globalMounts:
          - path: /data
