---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matter-server
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
      version: 4.6.2
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      matter-server:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/matter-js/matterjs-server:0.3.1
              tag: 0.3.1
            env:
              TZ: Europe/Amsterdam
              MATTER_SERVER__INSTANCE_NAME: "{{ .Release.Name }}"
              DISABLE_DASHBOARD: false
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: network/multus-macvlan2, network/multus-macvlan3
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - talos-1018-2
                      - talos-1018-3
    service:
      app:
        controller: matter-server
        ports:
          websocket:
            enabled: true
            port: 5580
    persistence:
      config:
        enabled: true
        existingClaim: matter-server-data
        globalMounts:
          - path: /data
