---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus
      version: "81.0.0"
  interval: 1h0m0s
  values:
    grafana:
      enabled: true
      admin:
        existingSecret: grafana-admin-secret
        userKey: admin-user
        passwordKey: adminPassword
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: nginx
          cert-manager.io/cluster-issuer: letsencrypt
        tls:
          - secretName: grafana-general-tls
            hosts:
              - "grafana.${CLUSTER_DOMAIN}"
        hosts:
          - "grafana.${CLUSTER_DOMAIN}"
      # persistence:
      #   enabled: true
      #   type: sts
      #   storageClassName: "storageClassName"
      #   accessModes:
      #     - ReadWriteOnce
      #   size: 20Gi
      #   finalizers:
      #     - kubernetes.io/pvc-protection

      dashboardProviders:
        dashboardproviders.yaml:
          apiVersion: 1
          providers:
            - name: "default"
              orgId: 1
              folder: ""
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/default
      dashboards:
        default:
          mysql-overview:
            gnetId: 7362
            revision: 5
            datasource: Prometheus
          mysql-replication:
            gnetId: 7371
            revision: 1
            datasource: Prometheus
          mariadb-galera:
            gnetId: 13106
            revision: 3
            datasource: Prometheus
          mysql-quickstart:
            gnetId: 14057
            revision: 1
            datasource: Prometheus
          windows-exporter-dashboard-2024:
            gnetId: 20763
            revision: 1
            datasource: Prometheus
          windows-exporter-dashboard:
            gnetId: 14694
            revision: 1
            datasource: Prometheus

    prometheus:
      enabled: true
      prometheusSpec:
        serviceMonitorSelectorNilUsesHelmValues: false
        scrapeInterval: 60s
        additionalScrapeConfigs:
          - job_name: "tinypc-2-exporter"
            static_configs:
              - targets: ["tinypc-2:9182"]
            scrape_interval: 60s
            metrics_path: /metrics
      # MetricRelabelConfigs to apply to samples after scraping, but before ingestion.
      # Doc: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#relabelconfig
      monitor:
        enabled: true
        metricRelabelings:
          # Unused node-exporter metrics
          - sourceLabels: [__name__]
            action: drop
            regex: "node_(nf_conntrack_stat|netstat_.*6|timex_pps|network_carrie|network_iface|scrape).*"

        resources:
          requests:
            cpu: 100m
            memory: 300Mi
          limits:
            cpu: 1000m
            memory: 1024Mi
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          kubernetes.io/ingress.class: nginx
        tls:
          - secretName: prometheus-general-tls
            hosts:
              - "prometheus.${CLUSTER_DOMAIN}"
        hosts:
          - "prometheus.${CLUSTER_DOMAIN}"

    alertmanager:
      enabled: false
      ingress:
        enabled: false
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          kubernetes.io/ingress.class: nginx
        tls:
          - secretName: alertmanager-general-tls
            hosts:
              - "alertmanager.${CLUSTER_DOMAIN}"
        hosts:
          - "alertmanager.${CLUSTER_DOMAIN}"

    prometheus-node-exporter:
      # Doc: https://github.com/prometheus/node_exporter#collectors
      extraArgs:
        # Disable unused collectors
        - --no-collector.arp
        - --no-collector.ipvs
        - --no-collector.sockstat
        - --no-collector.softnet
        # Excludes from kube-prometheus-stack
        - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
        - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$
