---
# yaml-language-server: $schema=https://json.schemastore.org/kubernetes
apiVersion: v1
kind: Namespace
metadata:
  name: home-automation
  labels:
    pod-security.kubernetes.io/enforce: privileged
