---
# yaml-language-server: $schema=https://json.schemastore.org/kubernetes
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  labels:
    app.kubernetes.io/name: cloudflared
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: cloudflared
  replicas: 1 # You could also consider elastic scaling for this deployment
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cloudflared
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "2000"
    spec:
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:2026.2.0
          args:
            - tunnel
            - --no-autoupdate
            - run
          env:
            - name: TUNNEL_EDGE_IP_VERSION
              value: "6"
            - name: TUNNEL_LOGLEVEL
              value: "info"
            - name: TUNNEL_METRICS
              value: "0.0.0.0:2000"
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflared-secret
                  key: TUNNEL_TOKEN
          ports:
            - name: metrics
              containerPort: 2000
              protocol: TCP
          resources:
            limits:
              cpu: "0.05"
              memory: "100Mi"
            requests:
              cpu: "0.005"
              memory: "40Mi"
          livenessProbe:
            httpGet:
              # Cloudflared has a /ready endpoint which returns 200 if and only if
              # it has an active connection to the edge.
              path: /ready
              port: 2000
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
