---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
spec:
  chart:
    spec:
      chart: victoria-logs-single
      sourceRef:
        kind: HelmRepository
        name: vm
  interval: 1h0m0s
  values:
    server:
      extraArgs:
        httpListenAddr: "[::]:9428"
        enableTCP6: "true"
      retentionPeriod: "7d"
      persistentVolume:
        enabled: true
        existingClaim: victoria-logs-data
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 512Mi
      ingress:
        enabled: true
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Observability
          gethomepage.dev/icon: si-victoriametrics
          gethomepage.dev/name: VictoriaLogs
          gethomepage.dev/app: victoria-logs
        hosts:
          - name: vlogs.${CLUSTER_DOMAIN}
            path:
              - /
            port: http
        tls:
          - secretName: victoria-logs-tls
            hosts:
              - vlogs.${CLUSTER_DOMAIN}
