---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
  labels:
    app.kubernetes.io/name: mealie
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: mealie
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mealie
    spec:
      containers:
        - name: mealie
          image: "ghcr.io/mealie-recipes/mealie:v3.9.1"
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 9000
              protocol: TCP
          env:
            - name: ALLOW_SIGNUP
              value: "false"
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: API_HOST
              value: ""
            - name: TZ
              value: ${TIMEZONE}
            - name: BASE_URL
              value: "https://mealie.${CLUSTER_DOMAIN}"
            - name: OIDC_AUTH_ENABLED
              value: "true"
            - name: OIDC_PROVIDER_NAME
              value: "Pocket ID"
            - name: OIDC_REMEMBER_ME
              value: "true"
            - name: OIDC_SIGNUP_ENABLED
              value: "true"
            - name: OIDC_CONFIGURATION_URL
              value: https://pid.${DOMAIN}/.well-known/openid-configuration
            - name: OIDC_GROUPS_CLAIM
              value: groups
            - name: OIDC_ADMIN_GROUP
              value: "mealie_admins"
            - name: OIDC_AUTO_REDIRECT
              value: "true"
            - name: OIDC_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: OIDC_CLIENT_ID
            - name: OIDC_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: OIDC_CLIENT_SECRET
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: mealie-secrets
                  key: OPENAI_API_KEY
          volumeMounts:
            - mountPath: /app/data
              name: data
          resources:
            limits:
              cpu: "0.1"
              memory: "1000Mi"
            requests:
              cpu: "0.001"
              memory: "200Mi"
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: mealie-data
