---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mealie
resources:
  - namespace.yaml
  - mealie-secret.sops.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - ingress.yaml
