---
apiVersion: v1
kind: Service
metadata:
  name: mealie-http
  labels:
    app.kubernetes.io/name: mealie
spec:
  ipFamilyPolicy: PreferDualStack
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: mealie
