---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./network-policies/network-policy-default.yaml
  - ./network-policies/network-policy-allow-internet.yaml
  - ./ripe-atlas/ks.yaml
