---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: minecraft-bedrock
resources:
  - namespace.yaml
  - pvc.yaml
  - configmap.yaml
  - statefulset.yaml
  - service.yaml
