---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pocket-id
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      main:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/pocket-id/pocket-id
              tag: v2.1.0

            env:
              DB_CONNECTION_STRING: file:/app/data/pocket-id.db?_journal_mode=WAL&_busy_timeout=2500&_txlock=immediate
              APP_URL: https://pid.${DOMAIN}
              INTERNAL_APP_URL: https://pid.${CLUSTER_DOMAIN}
              TRUST_PROXY: true
              TZ: ${TIMEZONE}
              UPLOAD_PATH: /app/data/uploads
              ENCRYPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: pocket-id-secret
                    key: ENCRYPTION_KEY
              MAXMIND_LICENSE_KEY:
                valueFrom:
                  secretKeyRef:
                    name: pocket-id-secret
                    key: MAXMIND_LICENSE_KEY
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                memory: 250M
                cpu: 10m
              limits:
                memory: 400M

    service:
      app:
        ports:
          http:
            port: &port 1411

    ingress:
      app:
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Identity provider
          gethomepage.dev/group: Security
          gethomepage.dev/icon: sh-pocket-id.svg
          gethomepage.dev/name: Pocket ID
          gethomepage.dev/app: pocket-id
        enabled: true
        hosts:
          - host: pid.${DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port
          - host: pid.${CLUSTER_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port
        tls:
          - secretName: pid-tls
            hosts:
              - pid.${DOMAIN}
              - pid.${CLUSTER_DOMAIN}

    persistence:
      config:
        existingClaim: pocket-id-data
        globalMounts:
          - path: /app/data

      var:
        type: emptyDir
        sizeLimit: 1Gi
