---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-automation
resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - esphome-secret.sops.yaml
  - configmap-font.yaml
  - ingress.yaml
