---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# n8n - Document management
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: n8n
  namespace: flux-system
spec:
  dependsOn:
    - name: infra-longhorn-config
      namespace: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  interval: 1h
  retryInterval: 1m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kubernetes/apps/talos1018/self-hosted/n8n/app
  prune: true
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  wait: false
