---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      paperless:
        forceRename: paperless
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.6
            env:
              # Configure application
              PAPERLESS_SECRET_KEY:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret
                    key: PAPERLESS_SECRET_KEY
              PAPERLESS_URL: https://paperless.${CLUSTER_DOMAIN}
              PAPERLESS_PORT: "8000"
              PAPERLESS_TIME_ZONE: "${TIMEZONE}"
              PAPERLESS_WEBSERVER_WORKERS: "2"
              PAPERLESS_TASK_WORKERS: "2"
              # Configure folders
              PAPERLESS_CONSUMPTION_DIR: /data/local/consume
              PAPERLESS_DATA_DIR: /data/local/data
              PAPERLESS_EXPORT_DIR: /data/nas/export
              PAPERLESS_MEDIA_ROOT: /data/local/media
              # Configure folder importer
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_CONSUMER_DELETE_DUPLICATES: "true"
              # Configure OCR
              PAPERLESS_OCR_MODE: "redo"
              PAPERLESS_OCR_LANGUAGES: eng nld rus tgk
              PAPERLESS_OCR_LANGUAGE: eng+nld+rus+tgk
              # Configure redis integration
              PAPERLESS_REDIS: redis://paperless-redis:6379
              # Configure tika for eml, office docs
              PAPERLESS_TIKA_ENABLED: "1"
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-gotenberg:3000
              PAPERLESS_TIKA_ENDPOINT: http://paperless-tika:9998
              # Configure user permissions
              USERMAP_GID: "65542" # gladius:external-services
              # Configure admin user
              PAPERLESS_ADMIN_USER:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret
                    key: PAPERLESS_ADMIN_USER
              PAPERLESS_ADMIN_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret
                    key: PAPERLESS_ADMIN_PASSWORD
              # OIDC Configuration
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: "false"
              PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "false"
              PAPERLESS_DISABLE_REGULAR_LOGIN: "true"
              PAPERLESS_REDIRECT_LOGIN_TO_SSO: "true"
              PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
                {
                  "openid_connect": {
                    "APPS": [
                      {
                        "provider_id": "pocket-id",
                        "name": "Pocket ID",
                        "client_id": "$(PAPERLESS_APPS_ALLAUTH_OIDC_CLIENT_ID)",
                        "secret": "$(PAPERLESS_APPS_ALLAUTH_OIDC_CLIENT_SECRET)",
                        "settings": {
                          "server_url": "https://pid.${CLUSTER_DOMAIN}/.well-known/openid-configuration"
                        }
                      }
                    ]
                  }
                }
              PAPERLESS_APPS_ALLAUTH_OIDC_CLIENT_ID:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret
                    key: PAPERLESS_APPS_ALLAUTH_OIDC_CLIENT_ID
              PAPERLESS_APPS_ALLAUTH_OIDC_CLIENT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret
                    key: PAPERLESS_APPS_ALLAUTH_OIDC_CLIENT_SECRET
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  initialDelaySeconds: 10
                  periodSeconds: 1
                  failureThreshold: 300
            resources:
              requests:
                cpu: "0.8"
                memory: 1Gi
              limits:
                cpu: "2"
                memory: 4Gi

      redis:
        containers:
          redis:
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0.2
            resources:
              requests:
                cpu: 5m
                memory: 32Mi
              limits:
                memory: 128Mi

      gotenberg:
        containers:
          redis:
            image:
              repository: docker.io/gotenberg/gotenberg
              tag: 8.26.0
            command:
              - gotenberg
              - --chromium-disable-javascript=true
              - --api-timeout=600s
            resources:
              requests:
                cpu: 5m
                memory: 10Mi
              limits:
                cpu: "1"
                memory: 1Gi

      tika:
        containers:
          redis:
            image:
              repository: docker.io/apache/tika
              tag: 3.2.3.0
            command:
              - /bin/sh
              - -c
              - "exec java -cp \"/tika-server-standard-$${TIKA_VERSION}.jar:/tika-extras/*\" org.apache.tika.server.core.TikaServerCli -h :: $0 $@"
            resources:
              requests:
                cpu: "0.002"
                memory: 200Mi
              limits:
                cpu: "0.02"
                memory: 1Gi

    service:
      app:
        forceRename: paperless
        primary: true
        controller: paperless
        ports:
          http:
            port: &port 8000
      redis:
        controller: redis
        ports:
          http:
            port: 6379
      gotenberg:
        controller: gotenberg
        ports:
          http:
            port: 3000
      tika:
        controller: tika
        ports:
          http:
            port: 9998

    persistence:
      data:
        existingClaim: paperless-data
        advancedMounts:
          paperless:
            app:
              - path: /data/local
      # nas:
      #   type: nfs
      #   path: /data/vnas-1/paperless
      #   server: vnas-1
      #   advancedMounts:
      #     paperless:
      #       app:
      #         - path: /data/nas

    ingress:
      app:
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          nginx.ingress.kubernetes.io/proxy-body-size: "500m"
        enabled: true
        hosts:
          - host: paperless.${CLUSTER_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port
        tls:
          - hosts:
              - paperless.${CLUSTER_DOMAIN}
            secretName: paperless-tls
