---
# yaml-language-server: $schema=https://json.schemastore.org/kubernetes
apiVersion: v1
kind: ServiceAccount
metadata:
  name: homepage
  labels:
    app.kubernetes.io/name: homepage
secrets:
  - name: homepage-sa-token
