---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: podinfo
spec:
  chart:
    spec:
      chart: podinfo
      sourceRef:
        kind: HelmRepository
        name: podinfo
      version: "6.9.4"
  interval: 1h0m0s
  values:
    replicaCount: 3

    service:
      ipFamilyPolicy: PreferDualStack

    resources:
      limits:
        cpu: 1000m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 64Mi

    ingress:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      hosts:
        - host: podinfo.${CLUSTER_DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: podinfo-tls
          hosts:
            - podinfo.${CLUSTER_DOMAIN}
