---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app n8n
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      n8n:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/n8n-io/n8n
              # renovate: datasource=github-releases depName=n8n-io/n8n
              tag: 2.7.0
            env:
              DB_SQLITE_VACUUM_ON_STARTUP: true
              EXECUTIONS_DATA_PRUNE: true
              EXECUTIONS_DATA_MAX_AGE: 7
              EXECUTIONS_DATA_PRUNE_MAX_COUNT: 50000
              GENERIC_TIMEZONE: "${TIMEZONE}"
              WEBHOOK_URL: "https://n8n-webhook.${DOMAIN}/"
              N8N_PROXY_HOPS: 1
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: false
              N8N_PROTOCOL: "https"
              N8N_PORT: &port 8080
              N8N_HOST: &hostName n8n.${CLUSTER_DOMAIN}
              N8N_LOG_LEVEL: info
              N8N_LOG_OUTPUT: console
              N8N_METRICS: true
              N8N_METRICS_PREFIX: n8n_
              N8N_ENCRYPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: n8n-secret
                    key: N8N_ENCRYPTION_KEY
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 2Gi
        pod:
          annotations:
            prometheus.io/scrape: "true"
            prometheus.io/port: "8080"
            prometheus.io/path: /metrics
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        controller: n8n
        ports:
          http:
            port: *port
    ingress:
      app:
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
        enabled: true
        hosts:
          - host: *hostName
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port
          - host: &webhook n8n-webhook.${DOMAIN}
            paths:
              - path: /webhook
                service:
                  identifier: app
                  port: *port
        tls:
          - hosts:
              - *hostName
              - *webhook
            secretName: n8n-tls

    persistence:
      data:
        existingClaim: n8n-data
        advancedMounts:
          n8n:
            app:
              - path: /home/node/.n8n
