---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metrics-server
  namespace: flux-system
spec:
  targetNamespace: kube-system
  path: ./kubernetes/apps/talos1018/kube-system/metrics-server/app
  prune: true
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
