---
name: validate-flux

on:
  workflow_dispatch:
  push:
    branches: ["*"]
    tags-ignore: ["*"]
    paths:
      - "kubernetes/**"
      - ".github/workflows/validate-flux.yaml"

jobs:
  manifests:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup yq
        uses: fluxcd/pkg/actions/yq@main
      - name: Setup kubeconform
        uses: fluxcd/pkg/actions/kubeconform@main
      - name: Setup kustomize
        uses: fluxcd/pkg/actions/kustomize@main
      - name: Validate manifests
        run: ./scripts/validate.sh flux
